@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

$font1: montserrat, sans-serif;

$color1: #1E2337;
$color2: orange;
$color3: orangered;
$color4: rgba(136,222,136,0.8);
$color5: white;
$color6: grey;
$color7: black;
$color8: rgb(231,171,61);