.item {
  text-align: justify;
  margin: 1rem;
  background-color: rgb(222, 221, 221);
  font-size: 2rem;
  color: rgb(105, 19, 105);
  display: flex;
  align-items: center;
}

.item p {
  flex: 1;
  padding: 2rem;
}
.item button {
  font-size: 2rem;
  margin: 1rem;
}
.item button.btn-archive {
  font-size: 2rem;
  background-color: rgb(128, 205, 128);
}
.item button.btn-delete {
  font-size: 2rem;
  background-color: rgb(188, 102, 102);
}