.post-titre {
  font-size: 3rem;
  color: orange;
}
.post-extrait {
  font-size: 2rem;
  color: whitesmoke;
  margin-bottom: 80px;
}
.post-hashtag {
  font-weight: 900;
  color: bisque;
 margin-bottom: 20px;
}