* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 1rem;
}

h1 {
  color : red;
  margin: auto;
  font-size: 4rem;
}
body{
  background-color: #1E2337;
}